<h1>Tabla de contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Alumno" data-toc-modified-id="Alumno-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Alumno</a></span></li><li><span><a href="#Ejercicios-de-Pandas" data-toc-modified-id="Ejercicios-de-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ejercicios de Pandas</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Series</a></span><ul class="toc-item"><li><span><a href="#Asigna-el-nombre-&quot;alfabeto&quot;-a-la-siguiente-serie-y-comprueba-si-muestra-el-nombre." data-toc-modified-id="Asigna-el-nombre-&quot;alfabeto&quot;-a-la-siguiente-serie-y-comprueba-si-muestra-el-nombre.-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Asigna el nombre "alfabeto" a la siguiente serie y comprueba si muestra el nombre.</a></span></li><li><span><a href="#Escribe-una-expresión-que,-dadas-dos-series,-diga-si-todos-los-elementos-de-la-primera-son-mayores-que-los-correspondientes-de-la-segunda." data-toc-modified-id="Escribe-una-expresión-que,-dadas-dos-series,-diga-si-todos-los-elementos-de-la-primera-son-mayores-que-los-correspondientes-de-la-segunda.-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.</a></span></li><li><span><a href="#Escribe-una-expresión-que,-dadas-dos-series,-diga-si-hay-algún-elemento-de-la-primera-menor-o-igual-que-el-correspondiente-de-la-segunda." data-toc-modified-id="Escribe-una-expresión-que,-dadas-dos-series,-diga-si-hay-algún-elemento-de-la-primera-menor-o-igual-que-el-correspondiente-de-la-segunda.-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera menor o igual que el correspondiente de la segunda.</a></span></li><li><span><a href="#Extrae-todos-los-elementos-de-la-serie-dada-que-se-encuentran-en-las-posiciones-indicadas-por-la-lista." data-toc-modified-id="Extrae-todos-los-elementos-de-la-serie-dada-que-se-encuentran-en-las-posiciones-indicadas-por-la-lista.-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por la lista.</a></span></li><li><span><a href="#Construye-una-serie-que-sea-el-resultado-de-añadirle-a-una-serie-dada-los-elementos-de-otra." data-toc-modified-id="Construye-una-serie-que-sea-el-resultado-de-añadirle-a-una-serie-dada-los-elementos-de-otra.-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Construye una serie que sea el resultado de añadirle a una serie dada los elementos de otra.</a></span></li><li><span><a href="#Ordena-la-serie-resultante-anterior,-primero-por-el-valor-del-índice-y-después-por-valor-de-la-serie." data-toc-modified-id="Ordena-la-serie-resultante-anterior,-primero-por-el-valor-del-índice-y-después-por-valor-de-la-serie.-2.1.6"><span class="toc-item-num">2.1.6&nbsp;&nbsp;</span>Ordena la serie resultante anterior, primero por el valor del índice y después por valor de la serie.</a></span></li><li><span><a href="#Dadas-las-dos-series-que-se-muestran,-calcula-la-media-del-error-cuadrático-entre-ambas." data-toc-modified-id="Dadas-las-dos-series-que-se-muestran,-calcula-la-media-del-error-cuadrático-entre-ambas.-2.1.7"><span class="toc-item-num">2.1.7&nbsp;&nbsp;</span>Dadas las dos series que se muestran, calcula la media del error cuadrático entre ambas.</a></span></li><li><span><a href="#Convierte-la-siguiente-serie-de-fechas-introducidas-como-cadenas-a-una-serie-de-tipo-datetime." data-toc-modified-id="Convierte-la-siguiente-serie-de-fechas-introducidas-como-cadenas-a-una-serie-de-tipo-datetime.-2.1.8"><span class="toc-item-num">2.1.8&nbsp;&nbsp;</span>Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo <code>datetime</code>.</a></span></li><li><span><a href="#Crea-tres-series-a-partir-de-la-serie-anterior-ser,-donde-cada-una-contenga-el-día,-la-siguiente,-el-mes,-y-la-última,-el-año-de-cada-fecha." data-toc-modified-id="Crea-tres-series-a-partir-de-la-serie-anterior-ser,-donde-cada-una-contenga-el-día,-la-siguiente,-el-mes,-y-la-última,-el-año-de-cada-fecha.-2.1.9"><span class="toc-item-num">2.1.9&nbsp;&nbsp;</span>Crea tres series a partir de la serie anterior <code>ser</code>, donde cada una contenga el día, la siguiente, el mes, y la última, el año de cada fecha.</a></span></li><li><span><a href="#Crea-una-serie-con-valores-aleatorios-pero-cuyo-índice-tenga-12-entradas-del-tipo-datetime-con-el-primer-día-de-cada-mes-del-año-2022." data-toc-modified-id="Crea-una-serie-con-valores-aleatorios-pero-cuyo-índice-tenga-12-entradas-del-tipo-datetime-con-el-primer-día-de-cada-mes-del-año-2022.-2.1.10"><span class="toc-item-num">2.1.10&nbsp;&nbsp;</span>Crea una serie con valores aleatorios pero cuyo índice tenga 12 entradas del tipo <code>datetime</code> con el primer día de cada mes del año 2022.</a></span></li><li><span><a href="#Obtén-la-lista-de-las-posiciones-de-los-elementos-de-ser2-dentro-de-la-serie-ser1." data-toc-modified-id="Obtén-la-lista-de-las-posiciones-de-los-elementos-de-ser2-dentro-de-la-serie-ser1.-2.1.11"><span class="toc-item-num">2.1.11&nbsp;&nbsp;</span>Obtén la lista de las posiciones de los elementos de <code>ser2</code> dentro de la serie <code>ser1</code>.</a></span></li><li><span><a href="#Dadas-las-siguientes-dos-series-que-representan-frutas-y-peso-comprado-de-cada-una-de-ellas,-obtén-el-peso-medio-comprado-de-cada-tipo-de-fruta." data-toc-modified-id="Dadas-las-siguientes-dos-series-que-representan-frutas-y-peso-comprado-de-cada-una-de-ellas,-obtén-el-peso-medio-comprado-de-cada-tipo-de-fruta.-2.1.12"><span class="toc-item-num">2.1.12&nbsp;&nbsp;</span>Dadas las siguientes dos series que representan frutas y peso comprado de cada una de ellas, obtén el peso medio comprado de cada tipo de fruta.</a></span></li></ul></li><li><span><a href="#DataFrames" data-toc-modified-id="DataFrames-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames</a></span><ul class="toc-item"><li><span><a href="#A-partir-de-las-series-que-se-indican,-crea-un-DataFrame-que-las-tenga-como-columnas,-dándole-un-nombre-a-cada-una-de-ellas." data-toc-modified-id="A-partir-de-las-series-que-se-indican,-crea-un-DataFrame-que-las-tenga-como-columnas,-dándole-un-nombre-a-cada-una-de-ellas.-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>A partir de las series que se indican, crea un DataFrame que las tenga como columnas, dándole un nombre a cada una de ellas.</a></span></li><li><span><a href="#Crea-un-DataFrame-a-partir-del-fichero-planets.csv-y-seleccionando-solamente-las-columnas-method-y-distance." data-toc-modified-id="Crea-un-DataFrame-a-partir-del-fichero-planets.csv-y-seleccionando-solamente-las-columnas-method-y-distance.-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Crea un DataFrame a partir del fichero <code>planets.csv</code> y seleccionando solamente las columnas <code>method</code> y <code>distance</code>.</a></span></li><li><span><a href="#Extrae-una-de-cada-10-filas-del-dataset-anterior-empezando-por-la-fila-0." data-toc-modified-id="Extrae-una-de-cada-10-filas-del-dataset-anterior-empezando-por-la-fila-0.-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Extrae una de cada 10 filas del dataset anterior empezando por la fila 0.</a></span></li><li><span><a href="#Dado-el-dataset-de-coches-Cars93_miss.csv-accesible-en-la-siguiente-URL,-encuentra-el-fabricante,-modelo,-tipo-y-precio-del-coche-más-caro." data-toc-modified-id="Dado-el-dataset-de-coches-Cars93_miss.csv-accesible-en-la-siguiente-URL,-encuentra-el-fabricante,-modelo,-tipo-y-precio-del-coche-más-caro.-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Dado el dataset de coches <code>Cars93_miss.csv</code> accesible en la siguiente URL, encuentra el fabricante, modelo, tipo y precio del coche más caro.</a></span></li><li><span><a href="#Obtén-una-expresión-que-devuelva-si-el-anterior-dataset-de-coches-tiene-algún-valor-NaN." data-toc-modified-id="Obtén-una-expresión-que-devuelva-si-el-anterior-dataset-de-coches-tiene-algún-valor-NaN.-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Obtén una expresión que devuelva si el anterior dataset de coches tiene algún valor NaN.</a></span></li><li><span><a href="#Calcula-una-nueva-columna-en-el-dataset-de-coches-que-contenga-el-precio-normalizado-con-respecto-a-su-valor-máximo-y-mínimo." data-toc-modified-id="Calcula-una-nueva-columna-en-el-dataset-de-coches-que-contenga-el-precio-normalizado-con-respecto-a-su-valor-máximo-y-mínimo.-2.2.6"><span class="toc-item-num">2.2.6&nbsp;&nbsp;</span>Calcula una nueva columna en el dataset de coches que contenga el precio normalizado con respecto a su valor máximo y mínimo.</a></span></li><li><span><a href="#Encuentra-los-tres-vehículos-con-mayor-precio,-ignorando-los-que-no-tengan-precio-asignado-(NaN)." data-toc-modified-id="Encuentra-los-tres-vehículos-con-mayor-precio,-ignorando-los-que-no-tengan-precio-asignado-(NaN).-2.2.7"><span class="toc-item-num">2.2.7&nbsp;&nbsp;</span>Encuentra los tres vehículos con mayor precio, ignorando los que no tengan precio asignado (NaN).</a></span></li></ul></li><li><span><a href="#Agrupaciones" data-toc-modified-id="Agrupaciones-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Agrupaciones</a></span><ul class="toc-item"><li><span><a href="#Dado-el-siguiente-dataset,-obtén-la-suma-de-los-ingresos-por-trimestre.-Cada-trimestre-estará-representado-por-su-primer-mes-(enero,-abril,-julio,-octubre)." data-toc-modified-id="Dado-el-siguiente-dataset,-obtén-la-suma-de-los-ingresos-por-trimestre.-Cada-trimestre-estará-representado-por-su-primer-mes-(enero,-abril,-julio,-octubre).-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Dado el siguiente dataset, obtén la suma de los ingresos por trimestre. Cada trimestre estará representado por su primer mes (enero, abril, julio, octubre).</a></span></li></ul></li></ul></li></ul></div>

# Alumno

*- Jesús Aragón García - Javier Guil Molina*

# Ejercicios de Pandas
Antes de empezar, importemos los módulos que vamos a utilizar.

In [2]:
import numpy as np
import pandas as pd

## Series

### Asigna el nombre "alfabeto" a la siguiente serie y comprueba si muestra el nombre.

Pista: El atributo `.name` de una serie te permite asignarle un nombre.

In [2]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [3]:
# Solución
ser.name = "alfabeto"
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alfabeto, dtype: object

### Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.

In [48]:
s1 = pd.Series(np.random.randint(1,10,size=10))
s2 = s1+1

In [49]:
# Solución
len(s1[(s1>s2)]) == len(s1)

False

### Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera menor o igual que el correspondiente de la segunda.

In [59]:
s3 = pd.Series(np.random.randint(1,10,size=10))
s4 = pd.Series(np.random.randint(1,10,size=10))

In [81]:
# Solución
len(s3[((s3-s4) <= 0)]) > 0

True

### Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por la lista.

In [71]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [78]:
# Solución
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

### Construye una serie que sea el resultado de añadirle a una serie dada los elementos de otra.

Pista: Usa el método `.append()` aplicado a un objeto Serie.

In [79]:
ser1 = pd.Series(range(5))
ser2 = pd.Series([0.2, 0.3, 0.4])

In [101]:
# Solución
ser = pd.Series(ser1.append(ser2))
ser[0]

0    0.0
0    0.2
dtype: float64

Prueba a mostrar el resultado y responde a estas preguntas: ¿Qué ha sucedido con el índice? ¿Cuál es el tipo de datos de la serie resultante? ¿Qué sucede si indexamos directamente la serie con el índice `0` por ejemplo?

In [102]:
# Solución y respuesta a las preguntas
#a.¿Qué ha sucedido con el índice?
#Ha mantenido los ínidices de las series originales de manera que habrá índices repetidos. 
#Esto se puede evitar incluyendo como segundo argumento ignore_index = True

#b.¿Cuál es el tipo de datos de la serie resultante?
#float64 pues cogerá el tipo de mayor precisión numérica entre todos los elementos añadidos

#c.¿Qué sucede si indexamos directamente la serie con el índice 0 por ejemplo?
#Como podemos ver si ejecutamos ser[0] saldrán todos los elementos cuyo índice sea 0
ser[0]

0    0.0
0    0.2
dtype: float64

### Ordena la serie resultante anterior, primero por el valor del índice y después por valor de la serie.

Pista: Usa los métodos `.sort_index()` y `.sort_values()`.

Prueba ambos métodos y comprueba el resultado.

In [110]:
# Solución
ser.sort_values().sort_index()
#De esta manera ordenará primero por índices y después por los valores de aquellos elementos con el mismo índice

0    0.0
0    0.2
1    0.3
1    1.0
2    0.4
2    2.0
3    3.0
4    4.0
dtype: float64

### Dadas las dos series que se muestran, calcula la media del error cuadrático entre ambas.

La fórmula del error cuadrático entre $x$ e $y$ es $(x - y)^2$.

In [67]:
np.random.seed(0)
x = pd.Series(range(10))
y = pd.Series(range(10)) + np.random.random(10)
print(x)
print(y)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.548814
1    1.715189
2    2.602763
3    3.544883
4    4.423655
5    5.645894
6    6.437587
7    7.891773
8    8.963663
9    9.383442
dtype: float64

In [68]:
# Solución
(((x-y)**2).values).mean()

0.41319910235287544

### Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo `datetime`. 

Pista: `pandas.to_datetime()`.

In [125]:
ser = pd.Series(['02 Jan 2010T00:00:01',
                 '02-02-2011',
                 '20120303',
                 '2013/04/04',
                 '2014-05-05',
                 '2015-06-06T12:20'])

In [128]:
# Solución
ser = pd.to_datetime(ser)
ser

0   2010-01-02 00:00:01
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Crea tres series a partir de la serie anterior `ser`, donde cada una contenga el día, la siguiente, el mes, y la última, el año de cada fecha.

Pista: Una serie del tipo `datetime` tiene un atributo `.dt` que es un objeto que contiene todo lo necesario. Pulsa el tabulador para que Jupyter te ayude a elegir el método adecuado.

In [134]:
# Solución
ser1 = ser.dt.day
ser2 = ser.dt.month
ser3 = ser.dt.year
print(ser1)
print(ser2)
print(ser3)

0    2
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    2010
1    2011
2    2012
3    2013
4    2014
5    2015
dtype: int64

### Crea una serie con valores aleatorios pero cuyo índice tenga 12 entradas del tipo `datetime` con el primer día de cada mes del año 2022.

Los índices deben empezar por el 01-01-2022 y terminar en el 01-12-2022.

Pista: Para generar la secuencia de fechas puedes usar la función `pandas.date_range()`.

In [148]:
# Solución
fechas = pd.Series(np.random.randint(1,12,size=12), index = [pd.date_range(start="01-01-2022", periods=12, freq='MS')])
fechas

2022-01-01     3
2022-02-01     4
2022-03-01     1
2022-04-01     1
2022-05-01     7
2022-06-01     1
2022-07-01     7
2022-08-01     4
2022-09-01    11
2022-10-01     4
2022-11-01     9
2022-12-01     9
dtype: int64

### Obtén la lista de las posiciones de los elementos de `ser2` dentro de la serie `ser1`.

In [62]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 9, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Ejemplo de salida en este caso: [5, 4, 0, 8]

Pista: puedes usar `np.where` con una serie de Pandas, pero ten en cuenta que lo que devuelve puede ser de un tipo algo diferente de lo que nos gustaría:

In [63]:
# Obtener los índices elementos de la serie que sean igual a 9
np.where(ser1 == 9)

(array([1, 6]),)

Como ves, `np.where` devuelve una tupla con un array de índices coincidentes.

In [64]:
# Solución
lista = []
for elemento in ser2:
    lista.extend(np.where(ser1 == elemento)[0])
lista

[5, 4, 0, 8]

### Dadas las siguientes dos series que representan frutas y peso comprado de cada una de ellas, obtén el peso medio comprado de cada tipo de fruta.

Pista: puedes usar `.groupby` con una serie de Pandas.

In [65]:
np.random.seed(0)
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())

# Ejemplo de salida:
# banana       3.666667
# manzana      6.000000
# zanahoria    7.000000

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'banana', 'manzana', 'banana', 'banana', 'zanahoria', 'manzana', 'zanahoria', 'manzana', 'manzana']

In [72]:
# Solución
pesos.groupby(frutas).mean()

banana       3.666667
manzana      6.000000
zanahoria    7.000000
dtype: float64

## DataFrames

### A partir de las series que se indican, crea un DataFrame que las tenga como columnas, dándole un nombre a cada una de ellas.

In [3]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [4]:
# Solución
tabla = pd.DataFrame({"letra":ser1, "posición":ser2})
tabla

   letra  posición
0      a         0
1      b         1
2      c         2
3      e         3
4      d         4
5      f         5
6      g         6
7      h         7
8      i         8
9      j         9
10     k        10
11     l        11
12     m        12
13     n        13
14     o        14
15     p        15
16     q        16
17     r        17
18     s        18
19     t        19
20     u        20
21     v        21
22     w        22
23     x        23
24     y        24
25     z        25

### Crea un DataFrame a partir del fichero `planets.csv` y seleccionando solamente las columnas `method` y `distance`.

Pista: Cuando leemos un dataset de un fichero, por ejemplo, en formato `.csv`, podemos seleccionar las columnas que queremos pasándole un argumento llamado `usecols` con la lista de los nombres de las columnas entre comillas.

In [8]:
# Solución
planetas = pd.read_csv("planets.csv", usecols=["method", "distance"])
planetas

               method  distance
0     Radial Velocity     77.40
1     Radial Velocity     56.95
2     Radial Velocity     19.84
3     Radial Velocity    110.62
4     Radial Velocity    119.47
...               ...       ...
1030          Transit    172.00
1031          Transit    148.00
1032          Transit    174.00
1033          Transit    293.00
1034          Transit    260.00

[1035 rows x 2 columns]

¿Cuántos elementos tiene el dataset?

In [9]:
# Solución
len(planetas)

1035

### Extrae una de cada 10 filas del dataset anterior empezando por la fila 0.

In [10]:
# Solución
planetas[::10]

                         method  distance
0               Radial Velocity     77.40
10              Radial Velocity     74.79
20              Radial Velocity     12.53
30                      Imaging    165.00
40    Eclipse Timing Variations    500.00
...                         ...       ...
990                     Transit    450.00
1000                    Transit    200.00
1010                    Transit    125.00
1020                    Transit    340.00
1030                    Transit    172.00

[104 rows x 2 columns]

### Dado el dataset de coches `Cars93_miss.csv` accesible en la siguiente URL, encuentra el fabricante, modelo, tipo y precio del coche más caro.

Nota: Solamente deberán devolverse esas columnas.

In [11]:
dfcars = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
dfcars.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

En primer lugar, muestra el precio del coche más caro, para lo cual puedes usar `max`:

In [29]:
# Solución:
dfcars["Price"].max()

61.9

A continuación, genera una serie de valores booleanos con el resultado de la comparación con dicho precio:

In [27]:
# Solución
pd.Series([elemento == dfcars["Price"].max() for elemento in dfcars["Price"]])

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89    False
90    False
91    False
92    False
Length: 93, dtype: bool

A partir de la expresión anterior, obtén la fila del dataframe que cumple la condición de precio máximo:

In [31]:
# Solución
dfcars.loc[dfcars["Price"] == dfcars["Price"].max(),:]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19.0,25.0,Driver & Passenger,Rear,...,5.0,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,non-USA,Mercedes-Benz 300E

Por último, selecciona únicamente las columnas del dataframe indicadas (fabricante, modelo, tipo, precio):

In [30]:
# Solución
dfcars.loc[dfcars["Price"] == dfcars["Price"].max(),{"Manufacturer", "Model", "Type", "Price"}]

       Type Model  Price   Manufacturer
58  Midsize  300E   61.9  Mercedes-Benz

### Obtén una expresión que devuelva si el anterior dataset de coches tiene algún valor NaN.

In [34]:
# Solución
len(dfcars) != len(dfcars.dropna())

True

### Calcula una nueva columna en el dataset de coches que contenga el precio normalizado con respecto a su valor máximo y mínimo.

Esta normalización se realiza con la siguiente operación: $(precio - precioMinimo)/(precioMaximo - precioMinimo)$

Nota: siguiendo su notación, llama a esta nueva columna `Norm.Price`

In [36]:
# Solución
dfcars["Norm.Price"] = (dfcars["Price"] - dfcars["Min.Price"])/(dfcars["Max.Price"] - dfcars["Min.Price"])
dfcars

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make,Norm.Price
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra,0.508475
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend,0.494737
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90,0.500000
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100,NaN
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan,0.508197
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat,0.500000
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado,0.500000
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240,0.529412
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850,0.513514

### Encuentra los tres vehículos con mayor precio, ignorando los que no tengan precio asignado (NaN).

Pista: Investiga los parámetros del método `.dropna()` para ver si te permite fijarte solamente en un subconjunto de columnas.

In [45]:
# Solución
dfcars.dropna(subset=["Price"]).sort_values("Price", ascending=False).head(3)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make,Norm.Price
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19.0,25.0,Driver & Passenger,Rear,...,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,non-USA,Mercedes-Benz 300E,0.5
47,Infiniti,Q45,Midsize,45.4,47.9,NaN,17.0,22.0,NaN,Rear,...,200.0,113.0,72.0,42.0,29.0,15.0,4000.0,non-USA,Infiniti Q45,NaN
10,Cadillac,Seville,Midsize,37.5,40.1,42.7,16.0,25.0,Driver & Passenger,Front,...,204.0,111.0,74.0,44.0,31.0,NaN,3935.0,USA,Cadillac Seville,0.5

## Agrupaciones

Existe un objeto llamado `Grouper` que nos permite agrupar de múltiples maneras. Por ejemplo, supongamos que tenemos una lista de fechas con unos ingresos y queremos sacar los subtotales por mes, y veamos cómo hacerlo.

Creamos un dataset con las fechas y los ingresos

In [46]:
df = pd.DataFrame({'date': ['6/2/2017','5/23/2017','5/20/2017','6/22/2017','6/21/2017'],
                   'Revenue':[100,200,300,400,500]})
df

        date  Revenue
0   6/2/2017      100
1  5/23/2017      200
2  5/20/2017      300
3  6/22/2017      400
4  6/21/2017      500

Convertimos la columna 'date' a tipo fecha

In [47]:
df.date = pd.to_datetime(df.date)
df

        date  Revenue
0 2017-06-02      100
1 2017-05-23      200
2 2017-05-20      300
3 2017-06-22      400
4 2017-06-21      500

Generamos una vista agrupada por mes con pd.Grouper indicando la columna y la frecuencia de agrupación

In [48]:
dg = df.groupby(pd.Grouper(key='date', freq='1M')).sum()
dg

            Revenue
date
2017-05-31      500
2017-06-30     1000

Si queremos que solamente aparezca el mes, usamos un formateo de cadenas de tiempo con el método `strftime`, 
donde %B es el nombre del mes

In [49]:
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
dg.index = dg.index.strftime('%B')
dg

      Revenue
date
May       500
June     1000

### Dado el siguiente dataset, obtén la suma de los ingresos por trimestre. Cada trimestre estará representado por su primer mes (enero, abril, julio, octubre).

In [50]:
# Generamos un rango de fechas de 12 meses a partir de enero

# Usamos MS porque si usamos M tomará el último día del mes y el resultado no sería el mismo
rng = pd.date_range(pd.Timestamp('2022-01-01'), periods=12, freq='1MS')  # MS = Month Start

# Generamos unos ingresos aleatorios
np.random.seed(0)
data = np.random.randint(1000,size = 12)

# Creamos un DataFrame a partir de las dos columnas
df = pd.DataFrame({'fecha':rng, 'ingresos':data})
df

        fecha  ingresos
0  2022-01-01       684
1  2022-02-01       559
2  2022-03-01       629
3  2022-04-01       192
4  2022-05-01       835
5  2022-06-01       763
6  2022-07-01       707
7  2022-08-01       359
8  2022-09-01         9
9  2022-10-01       723
10 2022-11-01       277
11 2022-12-01       754

In [59]:
# Solución
dg = df.groupby(pd.Grouper(key='fecha', freq='3MS')).sum()
dg.index = dg.index.strftime('%B')
dg

         ingresos
fecha
January      1872
April        1790
July         1075
October      1754