<h1>Tabla de contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Alumno" data-toc-modified-id="Alumno-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Alumno</a></span></li><li><span><a href="#Ejercicios-de-Pandas" data-toc-modified-id="Ejercicios-de-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ejercicios de Pandas</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Series</a></span><ul class="toc-item"><li><span><a href="#Asigna-el-nombre-&quot;alfabeto&quot;-a-la-siguiente-serie-y-comprueba-si-muestra-el-nombre." data-toc-modified-id="Asigna-el-nombre-&quot;alfabeto&quot;-a-la-siguiente-serie-y-comprueba-si-muestra-el-nombre.-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Asigna el nombre "alfabeto" a la siguiente serie y comprueba si muestra el nombre.</a></span></li><li><span><a href="#Escribe-una-expresión-que,-dadas-dos-series,-diga-si-todos-los-elementos-de-la-primera-son-mayores-que-los-correspondientes-de-la-segunda." data-toc-modified-id="Escribe-una-expresión-que,-dadas-dos-series,-diga-si-todos-los-elementos-de-la-primera-son-mayores-que-los-correspondientes-de-la-segunda.-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.</a></span></li><li><span><a href="#Escribe-una-expresión-que,-dadas-dos-series,-diga-si-hay-algún-elemento-de-la-primera-menor-o-igual-que-el-correspondiente-de-la-segunda." data-toc-modified-id="Escribe-una-expresión-que,-dadas-dos-series,-diga-si-hay-algún-elemento-de-la-primera-menor-o-igual-que-el-correspondiente-de-la-segunda.-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera menor o igual que el correspondiente de la segunda.</a></span></li><li><span><a href="#Extrae-todos-los-elementos-de-la-serie-dada-que-se-encuentran-en-las-posiciones-indicadas-por-la-lista." data-toc-modified-id="Extrae-todos-los-elementos-de-la-serie-dada-que-se-encuentran-en-las-posiciones-indicadas-por-la-lista.-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por la lista.</a></span></li><li><span><a href="#Construye-una-serie-que-sea-el-resultado-de-añadirle-a-una-serie-dada-los-elementos-de-otra." data-toc-modified-id="Construye-una-serie-que-sea-el-resultado-de-añadirle-a-una-serie-dada-los-elementos-de-otra.-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Construye una serie que sea el resultado de añadirle a una serie dada los elementos de otra.</a></span></li><li><span><a href="#Ordena-la-serie-resultante-anterior,-primero-por-el-valor-del-índice-y-después-por-valor-de-la-serie." data-toc-modified-id="Ordena-la-serie-resultante-anterior,-primero-por-el-valor-del-índice-y-después-por-valor-de-la-serie.-2.1.6"><span class="toc-item-num">2.1.6&nbsp;&nbsp;</span>Ordena la serie resultante anterior, primero por el valor del índice y después por valor de la serie.</a></span></li><li><span><a href="#Dadas-las-dos-series-que-se-muestran,-calcula-la-media-del-error-cuadrático-entre-ambas." data-toc-modified-id="Dadas-las-dos-series-que-se-muestran,-calcula-la-media-del-error-cuadrático-entre-ambas.-2.1.7"><span class="toc-item-num">2.1.7&nbsp;&nbsp;</span>Dadas las dos series que se muestran, calcula la media del error cuadrático entre ambas.</a></span></li><li><span><a href="#Convierte-la-siguiente-serie-de-fechas-introducidas-como-cadenas-a-una-serie-de-tipo-datetime." data-toc-modified-id="Convierte-la-siguiente-serie-de-fechas-introducidas-como-cadenas-a-una-serie-de-tipo-datetime.-2.1.8"><span class="toc-item-num">2.1.8&nbsp;&nbsp;</span>Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo <code>datetime</code>.</a></span></li><li><span><a href="#Crea-tres-series-a-partir-de-la-serie-anterior-ser,-donde-cada-una-contenga-el-día,-la-siguiente,-el-mes,-y-la-última,-el-año-de-cada-fecha." data-toc-modified-id="Crea-tres-series-a-partir-de-la-serie-anterior-ser,-donde-cada-una-contenga-el-día,-la-siguiente,-el-mes,-y-la-última,-el-año-de-cada-fecha.-2.1.9"><span class="toc-item-num">2.1.9&nbsp;&nbsp;</span>Crea tres series a partir de la serie anterior <code>ser</code>, donde cada una contenga el día, la siguiente, el mes, y la última, el año de cada fecha.</a></span></li><li><span><a href="#Crea-una-serie-con-valores-aleatorios-pero-cuyo-índice-tenga-12-entradas-del-tipo-datetime-con-el-primer-día-de-cada-mes-del-año-2022." data-toc-modified-id="Crea-una-serie-con-valores-aleatorios-pero-cuyo-índice-tenga-12-entradas-del-tipo-datetime-con-el-primer-día-de-cada-mes-del-año-2022.-2.1.10"><span class="toc-item-num">2.1.10&nbsp;&nbsp;</span>Crea una serie con valores aleatorios pero cuyo índice tenga 12 entradas del tipo <code>datetime</code> con el primer día de cada mes del año 2022.</a></span></li><li><span><a href="#Obtén-la-lista-de-las-posiciones-de-los-elementos-de-ser2-dentro-de-la-serie-ser1." data-toc-modified-id="Obtén-la-lista-de-las-posiciones-de-los-elementos-de-ser2-dentro-de-la-serie-ser1.-2.1.11"><span class="toc-item-num">2.1.11&nbsp;&nbsp;</span>Obtén la lista de las posiciones de los elementos de <code>ser2</code> dentro de la serie <code>ser1</code>.</a></span></li><li><span><a href="#Dadas-las-siguientes-dos-series-que-representan-frutas-y-peso-comprado-de-cada-una-de-ellas,-obtén-el-peso-medio-comprado-de-cada-tipo-de-fruta." data-toc-modified-id="Dadas-las-siguientes-dos-series-que-representan-frutas-y-peso-comprado-de-cada-una-de-ellas,-obtén-el-peso-medio-comprado-de-cada-tipo-de-fruta.-2.1.12"><span class="toc-item-num">2.1.12&nbsp;&nbsp;</span>Dadas las siguientes dos series que representan frutas y peso comprado de cada una de ellas, obtén el peso medio comprado de cada tipo de fruta.</a></span></li></ul></li><li><span><a href="#DataFrames" data-toc-modified-id="DataFrames-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames</a></span><ul class="toc-item"><li><span><a href="#A-partir-de-las-series-que-se-indican,-crea-un-DataFrame-que-las-tenga-como-columnas,-dándole-un-nombre-a-cada-una-de-ellas." data-toc-modified-id="A-partir-de-las-series-que-se-indican,-crea-un-DataFrame-que-las-tenga-como-columnas,-dándole-un-nombre-a-cada-una-de-ellas.-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>A partir de las series que se indican, crea un DataFrame que las tenga como columnas, dándole un nombre a cada una de ellas.</a></span></li><li><span><a href="#Crea-un-DataFrame-a-partir-del-fichero-planets.csv-y-seleccionando-solamente-las-columnas-method-y-distance." data-toc-modified-id="Crea-un-DataFrame-a-partir-del-fichero-planets.csv-y-seleccionando-solamente-las-columnas-method-y-distance.-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Crea un DataFrame a partir del fichero <code>planets.csv</code> y seleccionando solamente las columnas <code>method</code> y <code>distance</code>.</a></span></li><li><span><a href="#Extrae-una-de-cada-10-filas-del-dataset-anterior-empezando-por-la-fila-0." data-toc-modified-id="Extrae-una-de-cada-10-filas-del-dataset-anterior-empezando-por-la-fila-0.-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Extrae una de cada 10 filas del dataset anterior empezando por la fila 0.</a></span></li><li><span><a href="#Dado-el-dataset-de-coches-Cars93_miss.csv-accesible-en-la-siguiente-URL,-encuentra-el-fabricante,-modelo,-tipo-y-precio-del-coche-más-caro." data-toc-modified-id="Dado-el-dataset-de-coches-Cars93_miss.csv-accesible-en-la-siguiente-URL,-encuentra-el-fabricante,-modelo,-tipo-y-precio-del-coche-más-caro.-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Dado el dataset de coches <code>Cars93_miss.csv</code> accesible en la siguiente URL, encuentra el fabricante, modelo, tipo y precio del coche más caro.</a></span></li><li><span><a href="#Obtén-una-expresión-que-devuelva-si-el-anterior-dataset-de-coches-tiene-algún-valor-NaN." data-toc-modified-id="Obtén-una-expresión-que-devuelva-si-el-anterior-dataset-de-coches-tiene-algún-valor-NaN.-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Obtén una expresión que devuelva si el anterior dataset de coches tiene algún valor NaN.</a></span></li><li><span><a href="#Calcula-una-nueva-columna-en-el-dataset-de-coches-que-contenga-el-precio-normalizado-con-respecto-a-su-valor-máximo-y-mínimo." data-toc-modified-id="Calcula-una-nueva-columna-en-el-dataset-de-coches-que-contenga-el-precio-normalizado-con-respecto-a-su-valor-máximo-y-mínimo.-2.2.6"><span class="toc-item-num">2.2.6&nbsp;&nbsp;</span>Calcula una nueva columna en el dataset de coches que contenga el precio normalizado con respecto a su valor máximo y mínimo.</a></span></li><li><span><a href="#Encuentra-los-tres-vehículos-con-mayor-precio,-ignorando-los-que-no-tengan-precio-asignado-(NaN)." data-toc-modified-id="Encuentra-los-tres-vehículos-con-mayor-precio,-ignorando-los-que-no-tengan-precio-asignado-(NaN).-2.2.7"><span class="toc-item-num">2.2.7&nbsp;&nbsp;</span>Encuentra los tres vehículos con mayor precio, ignorando los que no tengan precio asignado (NaN).</a></span></li></ul></li><li><span><a href="#Agrupaciones" data-toc-modified-id="Agrupaciones-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Agrupaciones</a></span><ul class="toc-item"><li><span><a href="#Dado-el-siguiente-dataset,-obtén-la-suma-de-los-ingresos-por-trimestre.-Cada-trimestre-estará-representado-por-su-primer-mes-(enero,-abril,-julio,-octubre)." data-toc-modified-id="Dado-el-siguiente-dataset,-obtén-la-suma-de-los-ingresos-por-trimestre.-Cada-trimestre-estará-representado-por-su-primer-mes-(enero,-abril,-julio,-octubre).-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Dado el siguiente dataset, obtén la suma de los ingresos por trimestre. Cada trimestre estará representado por su primer mes (enero, abril, julio, octubre).</a></span></li></ul></li></ul></li></ul></div>

# Alumno

*Sustituye esta frase por tu nombre y apellidos.*

# Ejercicios de Pandas
Antes de empezar, importemos los módulos que vamos a utilizar.

In [ ]:
import numpy as np
import pandas as pd

## Series

### Asigna el nombre "alfabeto" a la siguiente serie y comprueba si muestra el nombre.

Pista: El atributo `.name` de una serie te permite asignarle un nombre.

In [ ]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.head()

In [ ]:
# Solución

### Escribe una expresión que, dadas dos series, diga si todos los elementos de la primera son mayores que los correspondientes de la segunda.

In [ ]:
s1 = pd.Series(np.random.randint(1,10,size=10))
s2 = s1+1

In [ ]:
# Solución

### Escribe una expresión que, dadas dos series, diga si hay algún elemento de la primera menor o igual que el correspondiente de la segunda.

In [ ]:
s3 = pd.Series(np.random.randint(1,10,size=10))
s4 = pd.Series(np.random.randint(1,10,size=10))

In [ ]:
# Solución

### Extrae todos los elementos de la serie dada que se encuentran en las posiciones indicadas por la lista.

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [ ]:
# Solución

### Construye una serie que sea el resultado de añadirle a una serie dada los elementos de otra.

Pista: Usa el método `.append()` aplicado a un objeto Serie.

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series([0.2, 0.3, 0.4])

In [ ]:
# Solución

Prueba a mostrar el resultado y responde a estas preguntas: ¿Qué ha sucedido con el índice? ¿Cuál es el tipo de datos de la serie resultante? ¿Qué sucede si indexamos directamente la serie con el índice `0` por ejemplo?

In [ ]:
# Solución y respuesta a las preguntas

### Ordena la serie resultante anterior, primero por el valor del índice y después por valor de la serie.

Pista: Usa los métodos `.sort_index()` y `.sort_values()`.

Prueba ambos métodos y comprueba el resultado.

In [ ]:
# Solución

### Dadas las dos series que se muestran, calcula la media del error cuadrático entre ambas.

La fórmula del error cuadrático entre $x$ e $y$ es $(x - y)^2$.

In [ ]:
np.random.seed(0)
x = pd.Series(range(10))
y = pd.Series(range(10)) + np.random.random(10)
print(x)
print(y)

In [ ]:
# Solución

### Convierte la siguiente serie de fechas introducidas como cadenas a una serie de tipo `datetime`. 

Pista: `pandas.to_datetime()`.

In [ ]:
ser = pd.Series(['02 Jan 2010T00:00:01',
                 '02-02-2011',
                 '20120303',
                 '2013/04/04',
                 '2014-05-05',
                 '2015-06-06T12:20'])

In [ ]:
# Solución

### Crea tres series a partir de la serie anterior `ser`, donde cada una contenga el día, la siguiente, el mes, y la última, el año de cada fecha.

Pista: Una serie del tipo `datetime` tiene un atributo `.dt` que es un objeto que contiene todo lo necesario. Pulsa el tabulador para que Jupyter te ayude a elegir el método adecuado.

In [ ]:
# Solución

### Crea una serie con valores aleatorios pero cuyo índice tenga 12 entradas del tipo `datetime` con el primer día de cada mes del año 2022.

Los índices deben empezar por el 01-01-2022 y terminar en el 01-12-2022.

Pista: Para generar la secuencia de fechas puedes usar la función `pandas.date_range()`.

In [ ]:
# Solución

### Obtén la lista de las posiciones de los elementos de `ser2` dentro de la serie `ser1`.

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 9, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Ejemplo de salida en este caso: [5, 4, 0, 8]

Pista: puedes usar `np.where` con una serie de Pandas, pero ten en cuenta que lo que devuelve puede ser de un tipo algo diferente de lo que nos gustaría:

In [ ]:
# Obtener los índices elementos de la serie que sean igual a 9
np.where(ser1 == 9)

Como ves, `np.where` devuelve una tupla con un array de índices coincidentes.

In [ ]:
# Solución

### Dadas las siguientes dos series que representan frutas y peso comprado de cada una de ellas, obtén el peso medio comprado de cada tipo de fruta.

Pista: puedes usar `.groupby` con una serie de Pandas.

In [ ]:
np.random.seed(0)
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())

# Ejemplo de salida:
# banana       3.666667
# manzana      6.000000
# zanahoria    7.000000

In [ ]:
# Solución

## DataFrames

### A partir de las series que se indican, crea un DataFrame que las tenga como columnas, dándole un nombre a cada una de ellas.

In [ ]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [ ]:
# Solución

### Crea un DataFrame a partir del fichero `planets.csv` y seleccionando solamente las columnas `method` y `distance`.

Pista: Cuando leemos un dataset de un fichero, por ejemplo, en formato `.csv`, podemos seleccionar las columnas que queremos pasándole un argumento llamado `usecols` con la lista de los nombres de las columnas entre comillas.

In [ ]:
# Solución

¿Cuántos elementos tiene el dataset?

In [ ]:
# Solución

### Extrae una de cada 10 filas del dataset anterior empezando por la fila 0.

In [ ]:
# Solución

### Dado el dataset de coches `Cars93_miss.csv` accesible en la siguiente URL, encuentra el fabricante, modelo, tipo y precio del coche más caro.

Nota: Solamente deberán devolverse esas columnas.

In [ ]:
dfcars = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
dfcars.head()

En primer lugar, muestra el precio del coche más caro, para lo cual puedes usar `max`:

In [ ]:
# Solución:

A continuación, genera una serie de valores booleanos con el resultado de la comparación con dicho precio:

In [ ]:
# Solución

A partir de la expresión anterior, obtén la fila del dataframe que cumple la condición de precio máximo:

In [ ]:
# Solución

Por último, selecciona únicamente las columnas del dataframe indicadas (fabricante, modelo, tipo, precio):

In [ ]:
# Solución

### Obtén una expresión que devuelva si el anterior dataset de coches tiene algún valor NaN.

In [ ]:
# Solución

### Calcula una nueva columna en el dataset de coches que contenga el precio normalizado con respecto a su valor máximo y mínimo.

Esta normalización se realiza con la siguiente operación: $(precio - precioMinimo)/(precioMaximo - precioMinimo)$

Nota: siguiendo su notación, llama a esta nueva columna `Norm.Price`

In [ ]:
# Solución

### Encuentra los tres vehículos con mayor precio, ignorando los que no tengan precio asignado (NaN).

Pista: Investiga los parámetros del método `.dropna()` para ver si te permite fijarte solamente en un subconjunto de columnas.

In [ ]:
# Solución

## Agrupaciones

Existe un objeto llamado `Grouper` que nos permite agrupar de múltiples maneras. Por ejemplo, supongamos que tenemos una lista de fechas con unos ingresos y queremos sacar los subtotales por mes, y veamos cómo hacerlo.

Creamos un dataset con las fechas y los ingresos

In [ ]:
df = pd.DataFrame({'date': ['6/2/2017','5/23/2017','5/20/2017','6/22/2017','6/21/2017'],
                   'Revenue':[100,200,300,400,500]})
df

Convertimos la columna 'date' a tipo fecha

In [ ]:
df.date = pd.to_datetime(df.date)
df

Generamos una vista agrupada por mes con pd.Grouper indicando la columna y la frecuencia de agrupación

In [ ]:
dg = df.groupby(pd.Grouper(key='date', freq='1M')).sum()
dg

Si queremos que solamente aparezca el mes, usamos un formateo de cadenas de tiempo con el método `strftime`, 
donde %B es el nombre del mes

In [ ]:
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
dg.index = dg.index.strftime('%B')
dg

### Dado el siguiente dataset, obtén la suma de los ingresos por trimestre. Cada trimestre estará representado por su primer mes (enero, abril, julio, octubre).

In [ ]:
# Generamos un rango de fechas de 12 meses a partir de enero

# Usamos MS porque si usamos M tomará el último día del mes y el resultado no sería el mismo
rng = pd.date_range(pd.Timestamp('2022-01-01'), periods=12, freq='1MS')  # MS = Month Start

# Generamos unos ingresos aleatorios
np.random.seed(0)
data = np.random.randint(1000,size = 12)

# Creamos un DataFrame a partir de las dos columnas
df = pd.DataFrame({'fecha':rng, 'ingresos':data})
df

In [ ]:
# Solución